/* General Styling */
body {
  background: whitesmoke;
  padding: 20px;
}

#header-row {
  display: inline-flexbox;
  flex-direction: row;
  background-color: rgba(83, 166, 204, 0.5764705882);
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#header {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  font-size: 60px;
  color: cornflowerblue;
}

p {
  text-align: justify;
}

blockquote {
  border-style: solid;
  border-color: black;
  font-style: italic;
  background-color: lightskyblue;
  margin: 50px;
  padding: 10px;
}

.heading {
  font-size: xx-large;
  text-decoration: underline;
  text-align: center;
}

h4 {
  font-size: 20px;
  text-align: center;
}

/*Button Styling*/
button[type=submit] {
  border: none;
  padding: 12px;
  color: whitesmoke;
  border-radius: 10px;
  background: rgb(234, 80, 80);
}

.survey__button--submit {
  margin-top: 4px;
}

.save-for-later-button {
  border: none;
  box-sizing: border-box;
  background-color: rgb(234, 80, 80);
  padding: 15px;
  border-radius: 10px;
  color: aliceblue;
}

.not-liked {
  font-size: 40px;
  border: none;
  background-color: whitesmoke;
  color: black;
}

.liked {
  font-size: 40px;
  border: none;
  background-color: whitesmoke;
  color: red;
}

.saved {
  background-color: darkcyan;
}
.saved .save-for-later-button {
  border: none;
  box-sizing: border-box;
  background-color: skyblue;
  padding: 15px;
  border-radius: 10px;
  color: aliceblue;
}

/*Input Styling*/
.comment-area__text-area {
  box-sizing: border-box;
  border: 2px solid rgb(36, 27, 27);
  border-radius: 7px;
  font-size: 20px;
}

input[type=text] {
  box-sizing: border-box;
  border: 2px solid rgb(36, 27, 27);
  border-radius: 7px;
  font-size: 20px;
}

/*Table Styling  */
table {
  border: 3px solid lightslategrey;
  margin-left: auto;
  margin-right: auto;
}

th {
  background-color: skyblue;
}

tr {
  background-color: aliceblue;
}

.availabiltyY {
  color: green;
}

.availabilityN {
  color: red;
}

/* Navigation Styling */
.top-navigation {
  overflow: hidden;
  background-color: rgba(83, 166, 204, 0.5764705882);
}

.top-navigation a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.top-navigation a:hover {
  background-color: #ddd;
  color: black;
}

.top-navigation a.active {
  background-color: #04aa6d;
  color: white;
}

.menu__icon {
  display: inline;
}

.menu__icon--menu-bar {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  border-radius: 10px;
}

.menu {
  display: none;
}
.menu a {
  text-decoration: none;
  margin-top: 5px;
  color: rgba(83, 166, 204, 0.5764705882);
}
.menu a:hover {
  background-color: lightskyblue;
  color: white;
}

.menu__list {
  display: flex;
  padding: 5px;
  width: 5%;
  flex-direction: column;
  background-color: beige;
  box-sizing: border-box;
  border: 1.5px solid black;
  opacity: 0.1;
}

/* Grid layout */
.columns {
  display: flex;
}

/* Images Styling */
img {
  margin: 0px 100px;
  width: 75%;
  padding: 20px;
}/*# sourceMappingURL=index.css.map */